@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form{
  width:700px;
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #d8b208;
  color:#fff;
  margin-top: 15px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
    align-items: center;
}

.container form .submit-btn:hover{
  background: #937906;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}